<h1 class="text-center mt-4">All posts</h1>

<div class="container mb-5">
  <% @posts.each do |post| %>
  <div class="row justify-content-md-center mt-4">
    <div class="col-lg-7 col-md-8">
      <div class="card text-center shadow bg-white rounded">
        <div class="card-header font-italic">
          By <%= post.user.username if post.user %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to  post.title, post_path(post), class: 'text-success' %>
          </h5>
          <p class="card-text">
            <%= truncate(post.description, length: 100) %>
          </p>
          <%= link_to  "View", post_path(post), class: 'btn btn-success' %>
          <%= link_to  "Edit", edit_post_path(post), class: 'btn btn-info ml-1' %>
          <%= link_to  "Delete", post_path(post), class: 'btn btn-danger ml-1', method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <div class="card-footer text-muted">
          Updated at <%= time_ago_in_words(post.updated_at) %> ago,
          created at <%= time_ago_in_words(post.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
