<h1 class="text-center mt-4"><%= @post.title %></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card text-center shadow bg-white rounded">
        <div class="card-header font-italic">
          <% if @post.user %>
          By <%= link_to @post.user.username, user_path(@post.user) %>

          <%= link_to gravatar_for(@post.user), user_path(@post.user) %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left">
            <%= simple_format(@post.description) %>
          </div>
          <% if logged_in? && (@post.user == current_user || current_user.admin?) %>
            <%= link_to  "Edit", edit_post_path(@post), class: 'btn btn-info ml-1' %>
            <%= link_to  "Delete", post_path(@post), class: 'btn btn-danger ml-1', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          Updated at <%= time_ago_in_words(@post.updated_at) %> ago,
          created at <%= time_ago_in_words(@post.created_at) %> ago
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <%= link_to  "Back to all posts", posts_path, class: 'btn btn-secondary' %>
  </div>
</div>
