<!DOCTYPE html>
<html>

  <head>
    <title>Brgblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render "shared/navbar" %>
      <div id="page-content">
      <%= render "layouts/messages" %>
      <%= yield %>
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; BRG Blog</small>
      </div>
    </footer>
  </body>

</html>
